    /* resume starts */

    :root {
        --color-gray-light-1: #f8f8f8;
        --color-gray-light-2: #e9e9e9;
        --color-gray-light-3: #dedede;
        --color-gray-dark-1: #545454;
        --color-gray-dark-2: #737373;
        --color-gray-dark-3: #9a9a9a;
        --color-tiffany: #ffb74d;
        --profile-theme: #ffb74d;
      --gradient-color: linear-gradient(90deg, rgb(255, 88, 88, 0.8), rgb(255, 183, 77, 0.8));
      --skill-gradient-color: linear-gradient(90deg, rgb(255, 183, 77, 0.8), rgb(255, 88, 88, 0.8));
        --timeline-circle-theme: #14253e;
        
        --pgbar-length: 100%;
    
        --MATH-PI: 3.1415px;
        --percent: 100;
    }
    
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: var(--color-gray-light-3);
    }
    
    .wrapper {
        margin: 0 auto;
        max-width: 70rem;
        background: var(--color-gray-light-2);
        display: flex;
        box-shadow: 0px 0px 15px 4px #b3b3b3;
    }
    
    .intro {
        flex: 0 0 330px;
        background-color: var(--color-gray-light-1);
        box-shadow: 5px 0px 15px 0px #b3b3b3;
        z-index: 5;
    }
    .profile {
        position: relative;
        background: var(--gradient-color);
        padding: 2rem 1rem;
        margin-bottom: 50px;
        text-align: center;
        user-select: none;
    }
    
    .photo img {
        width: 80%;
        border-radius: 50%;
    }
    .bio .name {
        font-size: 1.5rem;
      font-weight: bold;
        text-align: center;
        color: var(--color-gray-dark-1);
        margin: 0;
        margin-top: 1rem;
    }
    .bio .profession {
        font-size: 1rem;
        text-align: center;
        color: var(--color-gray-dark-1);
        margin: 0;
    }
    
    .intro-section {
        padding: 0 1rem;
        color: var(--color-gray-dark-1);
    }
    .intro-section .title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .about .paragraph {
        text-align: justify;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
    }
    .info-section {
        margin: 1rem 0;
    }
    .info-section span {
        position: relative;
        transition: all 0.3s;
    }
    .info-section i {
        color: var(--profile-theme);
        width: 20px;
        height: 20px;
    }
    
    .link a {
        text-decoration: none;
        color: inherit;
    }
    
    .link span::after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -3px;
        width: 0;
        height: 2px;
        background: var(--gradient-color);
        transition: width 0.3s;
        transform: translate(-50%, 0);
    }
    
    .link span:hover {
        color: var(--proile-theme);
    }
    .link span:hover::after {
        width: 100%;
    }
    
    .detail {
        flex: 1 0 0;
        background-color: white;
        padding: 2rem;
      z-index: 5;
    }
    .detail:hover > .detail-section:not(:hover) {
        opacity: 0.3;
    }
    .detail-section {
        transition: all 0.3s;
    }
    .detail-section:not(:last-of-type) {
        padding-bottom: 1rem;
    }
    .detail-title {
        display: flex;
        align-items: center;
    }
    .detail-section > .detail-content {
        padding: 1.5rem;
        padding-left: 2rem;
        user-select: none;
    }
    .detail-section.edu > .detail-content {
        padding-left: calc(1.5rem + 10px);
    }
    .title-icon + span {
        font-size: 1.5rem;
        transition: all 0.3s;
    }
    .title-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: var(--gradient-color);
        border-radius: 50%;
        transition: all 0.3s;
    }
    .title-icon i {
        color: white;
        line-height: 1rem;
        font-size: 1rem;
        text-align: center;
    }
    .detail-section:hover .title-icon {
        transform: scale(1.5);
        margin-right: 1.5rem;
    }
    .detail-section:hover .title-icon + span {
        letter-spacing: 1.5px;
    }
    
    .timeline-block {
        position: relative;
        padding-left: 30px;
    }
    .timeline-block:not(:last-of-type) {
        margin-bottom: 1rem;	
    }
    .timeline-block h1 {
        font-size: 1rem;
        margin: 5px 0;
        transition: all 0.3s;
    }
    .timeline-block p {
        font-size: 0.8rem;
        margin: 5px 0;
    }
    .timeline-block time {
        font-size: 0.8rem;
        color: var(--color-gray-dark-2);
    }
    .timeline-block::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border: 3px solid var(--timeline-circle-theme);
        border-radius: 50%;
        left: -10px;
        top: -5px;
    }
    .timeline-block::after {
        position: absolute;
        content: '';
        width: 3px;
        height: 100%;
        background-color: var(--timeline-circle-theme);
        left: -1px;
        top: 13px;
    }
    .timeline-block:hover h1 {
        color: var(--color-tiffany);
    }
    .timeline-block:hover::before {
        animation: circle 1.2s infinite;
    }
    
    .pg-list {
        padding: 0;
        list-style: none;
    }
    .pg-list > li {	
        margin: 1rem 0;
        display: flex;
        align-items: center;
    }
    .sb-skeleton {
        position: relative;
        flex: 1 0 auto;
        height: 2px;
        background-color: var(--color-gray-dark-3);
    }
    .pg-list > li > span {
        flex: 0 0 100px;
    }
    .sb-skeleton > .skillbar {
        position: absolute;
        left: 0;
        top: -1px;
        height: 4px;
      background: var(--skill-gradient-color);
      animation: increase 3s;
      animation-fill-mode: forwards;
      animation-timing-function:ease-in;
    }
    
    @keyframes increase {
      0% {
        width: 0;
      }
      100% {
        width: var(--pgbar-length);
      }
    }
    
    @keyframes circle {
      0% {
        box-shadow: 0 0 0 0px rgba(51, 52, 57, 1);
      }
      100% {
        box-shadow: 0 0 0 6px rgba(51, 52, 57, 0);
      }
    }
    
    @media (max-width: 1024px) {
        html {
            font-size: 90%;
        }
        .wrapper {
            flex-direction: column;
        }
        .intro, .detail {
            flex: 0 0 100%;
            box-shadow: none;
        }
        .intro-section {
            padding: 0 2rem;
        }
        .profile {
            margin-bottom: 1rem;
        }
        .profile::after {
            display: none;
        }
        .photo img {
            width: 100px;
            height: 100px;
        }
    }
    
    @media (max-width: 768px) {
        html {
            font-size: 80%;
        }
    }
    @media (max-width: 500px) {
        html {
            font-size: 70%;
        }
    } 