     
#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.myNav a:hover{
    color: #ffb74d;
}


a:hover {
  text-decoration: none;
  outline: none;
  color: #ffb74d;
}


a {
  text-decoration: none;
  color: inherit;
}
